html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #212121;
    background-color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --btn-opacity: 0.5;
    --app-width: 96vw;
    --btn-height: calc(var(--app-width) / 6);
    --font-size: calc(var(--app-width) / 15);
}

@media screen and (min-width: 601px) {
    :root {
        --app-width: 600px;
    }
}

@media screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
    .c-app {
        display: flex;
        --app-width: 96vw;
        --btn-height: 15vh;
        --font-size: calc(var(--app-width) / 20);
        justify-content: space-between;
    }

    .c-keyboard {
        margin-left: calc(var(--btn-height) / 10);
    }

    .c-output {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: unset;
        flex: none;
    }
}

.c-app {
    width: var(--app-width);
    font-size: var(--font-size);
    margin-top: 1vh;
}

.c-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.c-icon {
    height: calc(var(--font-size) / 1);
    width: calc(var(--font-size) / 1);
}

.c-title {
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: 1.2em;
}

.c-output {
    margin-bottom: 1rem;
    transition: background-color 200ms;
    overflow: visible;
    white-space: nowrap;
}

.c-output.has-error {
    color: #882121;
}

.c-output.has-result {
    color: #218821;
}



.c-input {
    box-sizing: border-box;
    outline: 0;
    font-size: inherit;
    background-color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.c-input::placeholder {
    color: #ccc;
}

.c-keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--btn-height) / 10);
    flex: none
}


.c-button {
    cursor: pointer;
    border: 0;
    font-size: inherit;
    height: var(--btn-height);
}

.c-button:active {
    --btn-opacity: 1;
}

.c-remove {
    background-color: rgba(255, 200, 200, var(--btn-opacity));
}

.c-number {
    background-color: rgba(200, 200, 200, var(--btn-opacity));
}

.c-operation {
    background-color: rgba(200, 220, 255, var(--btn-opacity));
}

@media screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
    .c-app {
        display: flex;
        --app-width: 96vw;
        --btn-height: 15vh;
        --font-size: calc(var(--app-width) / 20);
        justify-content: space-between;
    }

    .c-keyboard {
        margin-left: calc(var(--btn-height) / 10);
    }

    .c-output {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: unset;
        flex: none;
    }
}